@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff; /* Warna latar belakang tema terang */
  --text-color: #111010; /* Warna teks tema terang */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111010; /* Warna latar belakang tema gelap */
    --text-color: #fff; /* Warna teks tema gelap */
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  @apply rounded-md
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-gray-500;
}